

     .navbar-brand img {
      height: 100px;
      width: auto;
    }

    .offcanvas-title img {
      height: 40x;
      width: auto;
      margin-right: 10px;
    }

    .nav-link {
      font-size: 2.00rem;
      font-style: italic;
      color: blue !important;
    }


   

    @media (max-width: 991.98px) {
      .login-button {
        margin-right: 10px;
      }
    }



.main-container{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

.navbar {
    position: fixed;
    background-color: darkcyan;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;

}
.login-button {
    background-color: #333;
    color: blue;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: darkslategray;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    position: relative;
    color: red;
    font-weight: 500;
    transition: color 1s ease;
}

.nav-link:hover{
    color: red;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #6f2da8;
    visibility: visible;
    transition: width 0.3s ease-in-out;
}


body {
    background-image: url(1_rvic3fIB9oPry79fhjMuHw.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    height: auto;
    margin: 0;
       padding: 0;
    font-family: Arial, sans-serif;
}






nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 50px;
    width: fit-content;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-style: italic;
    font-size: 24px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: red;
}

nav img {
    height: 100px;
}

.container{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.6);
    transition: all ease-in-out 0.5s;
}
.container img:hover{
    width: 25%;
}

@media (max-width: 1500px){
    
    
    body {
    background-image: url(1_rvic3fIB9oPry79fhjMuHw.gif);
    }    
}

@media (max-width: 1000px){
    
    
    body {
    background-image: url(1_rvic3fIB9oPry79fhjMuHw.gif);
    
}
    
  
}

@media (max-width: 500px){
    
    
    body {
    background-image: url(1_rvic3fIB9oPry79fhjMuHw.gif);
    
}
    
    
  
}

   



    

